canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
    background: cyan;
  }
.socials{
    
    height: 125px;
    width: 125px;
}
.socials:hover{
    opacity: .5;
}
#developer{
    font-family:'sedgwick ave display', cursive;
    font-size: 75px;
}
html, body {
    max-width: 100%;
    
    
}

/*.container{
    border: 1px solid black;
}
.col-2{
    border: 1px solid black;
}
.row{
    border: 1px solid greenyellow;
}*/



/*#loadwrapper{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 9999;
    display:absolute;
    left: 0;
    top: 0;
    animation: to-disappear 1s forwards 2s;
}
#Loaderimg{
    height: 500px;
    width: 500px;
    margin: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 30px darkcyan;
    border: 100px solid darkcyan;
    transform: translateY(25px);
    
}
#Loadericon{
    height: 100px;
    width: 100px;
    background-color: cyan;
    text-align: center;
    border-radius: 50%;
    position: relative;
    animation: to-load 2s infinite;
    text-align: center;
    font-size: 85px;
    margin: auto;
    display: block;
    transform: translateY(220%);
    font-family: 'updock', serif;
}*/

@keyframes to-load{
    0%{box-shadow: 0 0 5px cyan;}
    100%{box-shadow: 0 0 100px cyan;}
}
@keyframes to-disappear{
    0%{ opacity: 1;}
    100%{opacity: 0; z-index: 0}
}
.work{
    width: 500px;
}
.work:hover{
    transform: scale(1.1);
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid cyan; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
input[type=email], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid cyan; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
input[type=submit] {
  background-color: cyan;
  color: darkcyan;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: crimson;
}
.container2 {
  border-radius: 5px;
  background-color: darkcyan;
  padding: 20px;
  margin: auto;
  width: 50%;
  height: auto;
  display: block;


}

#everything{
    transform: translateY(50px);
}
#words h1{
    font-family: 'Space Mono', monospace;
    
}

h1{
    font-size: 50px;
}
#RoboLogo{
    float:left;
    position: absolute;
}

/*#titleholder{
    height: 150px;
	width: 500px;
	margin: auto;
	background-color:darkcyan;
	box-shadow: 10px 10px;
    text-align: center;
    display: block;
}*/


.waviy {
  position: relative;
  text-align: center;
  
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 50px;

  color: black;
  text-transform: uppercase;
  opacity:0;
  animation: visib 2s forwards;
  /*animation-delay: calc(.2 * var(--i))*/
}
.waviy span:hover{
	animation: flip 1s forwards;
    
}
@keyframes flip {
  0%,80% {
	transform: rotateY(360deg) 
  }
}
@keyframes visib{
	0%{
		opacity:0;
	}
	100%{
		opacity: 1;
	}
}
/*#projectholder{
    height: 150px;
	width: 400px;
	margin: auto;
	background-color:darkcyan;
	box-shadow: 10px 10px;
    text-align: center;
    display: block;
    
    
}*/

#projects{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: monospace;
    
}
button:hover{
    box-shadow: 0 0 15px crimson;
}
.fluid-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#projects ul li{
    list-style-type: none;
}
#proj{
    font-family: 'press start 2p', 'serif';
    color: white;
}
#body2{
    background-color:cadetblue;
    width: 100%;
   
    text-align: center;
}
#body2 h1{
    transform: none;
}
#title{
    font-family: 'Tangerine', serif;
    text-align: center;
    font-size: 50px;
    
}
body{
    background-color: lightslategray;
}
p{
    
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;
    
    
}
a:link{
    text-decoration: none;
}
#mylogo{
    height: 50px;
    width: 50px;
    background-color: cyan;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 40px cyan;
    font-size: 42.5px;
    font-family: 'updock', serif;
    float: left;
    left: 75px;

}
#mylogo:hover{
    animation: to-load 2s linear infinite;
}
#bar{
	/*background-color: darkcyan;*/
    background-color: lightgray;
	float:right;
	padding: none;
	top: 0;
    left: 0;
	transition:5 ms;
	width: 100%;
    box-shadow: 0 0 15px;
    position: fixed;
    z-index: 9000;
}
nav ul{
	list-style: none;
	text-align: center;
	margin:0;
	padding:0;
	font-family: monospace;

}
nav li{
    float: right;
	/*border: 1px solid black;
	border-radius: 20px;*/
	/*background-color: cyan;*/
     /*box-shadow: 2px 3px black;*/
   
}
nav li:hover{
    background-color: crimson;
    /*box-shadow: 0 0 15px limegreen;*/
}

nav ul li{
	display:block;
	text-decoration:none;
	padding:15px;
	text-transform: uppercase;
	margin:0 10px;
	
}
#Me{
    text-align: center;
    width: 500px;
    
    position: relative;
    display: block;
    margin: auto;
}
.logoskill{
    transition: transform .2s;
}
.logoskill:hover{
    transform: scale(1.2);
    z-index: 5;
}

#pythonlogo{

transition: transform .2s;
}
#pythonlogo:hover{
transform: scale(1.2);
z-index: 5;
}
#csslogo{
list-style-type: none;
transition: transform .2s;
}
#csslogo:hover{
transform: scale(1.2);
z-index: 5;
}
#htmllogo{
list-style-type: none;
transition: transform .2s;
}
#htmllogo:hover{
transform: scale(1.2);
z-index: 5;
}
#linuxlogo{
list-style-type: none;
transition: transform .2s;
}
#linuxlogo:hover{
transform: scale(1.2);
z-index: 5;
}
#javascriptlogo{
list-style-type: none;
transition: transform .2s;
}
#javascriptlogo:hover{
transform: scale(1.2);
z-index: 5;
}
#bootstraplogo{
list-style-type: none;
transition: transform .2s;
}
#bootstraplogo:hover{
transform: scale(1.2);
z-index: 5;
}

#skills{
    /*float:right;
    transform: translateY(-10%) translateX(-20px);
    z-index: 30;*/
    
}
#ima{
    text-align: center;
}
#together{
    text-align: center;
}
@media only screen and (max-width: 1000px){
    .sm-none{
    display: none !important;
}
}

@media only screen and (min-width: 420px) and (max-width: 800px){
#words p{
    margin: 20px;
    text-align: center;
    transform: none;
    display: block;
    font-size: 18px;
  
    }
    .bigskill{
        transform: scale(.7);
        flex-direction: row;
    }

#picofme{
    max-width: 100%;
}
.fluid-container{
    padding: none;
}

.socials{
    padding: none;
    height: 75px;
    width: 75px;
}
#proj h1{
    font-size: 27px;
}
.col-2{
    transform: translateX(-20%);
}
#together{
    transform: translateY(50%);
}
#loadwrapper #Loaderimg{
    /*transform: scale(70%) translateX(-135px) translateY(17%);*/
    display: none;
    animation: none;
    }
#loadwrapper{
    display: none;
    animation: none;
}

nav ul li{
    padding: 0;
    margin: 3px;
}
#mylogo{
    left: 5%;
}
.container2{
    width: 95%;
}
#words{
    
}
#RoboLogo{
    display: none;

}
h1{
    font-size: 35px;
   
}

#ima{
    transform: translateY(-50%);
    padding: 0;
    
}
#developer{
    font-family:'sedgwick ave display', cursive;
    font-size: 35px;
}
#everything #skills{
    
}
#everything #titleholder{
	
}
#words .container{
   
}
#words #body2{
}
#github{
}
#sololearn{
}
#everything .waviy span{
	font-family: none;
	font-size: 40px;
}
#Me{
  
}
#projectholder{
}
#projectholder h1{
    
}

}
@media only screen and (min-width: 376px) and (max-width: 420px){
    #backwrap #backmid{
    transform: translateX(-10%) scale(70%);
    

}
.sm-none{
    display: none !important;
}
#ima{
    transform: translateY(-50%);
    padding: 0;
    
}
#developer{
    font-family:'sedgwick ave display', cursive;
    font-size: 35px;
}
h1{
    font-size: 35px;
   
}
nav ul li{
    padding: 0;
    margin: 3px;
}
#mylogo{
    left: 5%;
}
.container2{
    width: 95%;
}
#words p{
    margin: 20px;
    text-align: center;
    transform: none;
    display: block;
    font-size: 18px;
  
    }
#picofme{
    max-width: 100%;
}
.fluid-container{
    padding: none;
}

.socials{
    padding: none;
    height: 75px;
    width: 75px;
}
#proj h1{
    font-size: 27px;
}
.col-2{
    transform: translateX(-20%);
}
#together{
    transform: translateY(50%);
}
.work{
    width: 95% !important;
}
.work:hover{
    transform: none;
}

}
@media only screen and (max-width: 375px){
    #backwrap #backmid{
    transform: translateX(-12.5%) scale(70%);
    

}
#ima{
    transform: translateY(-50%);
    padding: 0;
    
}
.sm-none{
    display: none !important;
}
.work{
    width: 95% !important;
}
.work:hover{
    transform: none;
}
#developer{
    font-family:'sedgwick ave display', cursive;
    font-size: 35px;
}
h1{
    font-size: 35px;
   
}
nav ul li{
    padding: 0;
    margin: 3px;
}
#mylogo{
    left: 5%;
}
.container2{
    width: 95%;
}
#words p{
    margin: 20px;
    text-align: center;
    transform: none;
    display: block;
    font-size: 18px;
  
    }
#picofme{
    max-width: 100%;
}
.fluid-container{
    padding: none;
}

.socials{
    padding: none;
    height: 75px;
    width: 75px;
}
#proj h1{
    font-size: 27px;
}
.col-2{
    transform: translateX(-20%);
}
#together{
    transform: translateY(50%);
}


}


